@media screen and ( min-width : 360px ) and ( max-width : 800px ) {

  .main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: end;
    width: 100vw;
  }

  .chat-container {
    margin-bottom: 50px;
    margin-top: 50px;
    overflow-y: scroll;
    width: 100%;
    word-wrap: break-word;
  }


  .customer {
    background-color: rgb(54, 161, 110);
    border-radius: 15px 15px 15px 3px;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
    max-width: 50%;
    padding: 10px;
    width: fit-content;
  }

  .bot {
    align-self: flex-end;
    background-color: rgb(35, 160, 179);
    border-radius: 15px 15px 3px;
    margin: 10px 10px 10px auto;
    padding: 10px;
    text-align: end;
    width: fit-content;
  }

  .loading-icon {
    width: 150px;
  }

  hr {
    border: 0;
  }
}

