@media screen and ( min-width : 360px ) and ( max-width : 800px ) {

  .main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
    width: 100%;
  }

  .chat-container {
    border: red solid 10px;
    height: 100%;
    margin-bottom: 50px;
    width: 100%;
    word-wrap: break-word;
  }

  .customer {
    background-color: blue;
    border-radius: 15px 15px 15px 3px;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
    max-width: 50%;
    padding: 10px;
    width: fit-content;
  }

  .bot {
    align-self: flex-end;
    background-color: blueviolet;
    border-radius: 15px 15px 3px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    text-align: end;
    width: fit-content;
  }

  .loading-icon {
    width: 150px;
  }

  hr {
    border: 0;
  }
}

